:root {
    --primary-color: #055a05;
    /*forest green*/
    --secondary-color: #f4a261;
    /*warm sand */
    --accent1-color: #264653;
    /*dark slate blue */
    --accent2-color: #e9c46a;
    /*light golden yellow */
    --heading-font: "times new roman", "georgia", serif;
    --body-front: arial. helvetica, sans-serif;
}

header {
    background-color: var(white);
    color: var(--accent2-color);
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    display: inside;
    padding: 0 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--primary-color));
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    background-color: var(--primary-color);
    color: white;
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: #fff;
    /*white text - make sure there is enough contrast with the background-color*/
}

article {
    position: absolute;
    top: 150px;
    width: 95%;
    background-color: var(--primary-color);

}

.hero article img {
    float: right;
    width: 125px;
}

.tittle {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    display: inline-block;
}

.logo-menu {
    width: 40px;
    height: 40px;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
}